body {
    background-color: #0d1b2a;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}    

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.name {
    font-size: 75px;
    font-weight: 700;
    margin: 20px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.work {
    font-size: 25px;
    font-weight: 100;
    margin: 20px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.social {
    filter: invert(79%) sepia(1%) saturate(368%) hue-rotate(34deg) brightness(116%) contrast(92%);
    width: 25px;
    height: 35px;
    margin: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.social:hover {
    filter: invert(57%) sepia(12%) saturate(794%) hue-rotate(174deg) brightness(94%) contrast(90%);
}
